<div class="container">
   <div class="row">
      <div class="col-md-12">
            <p>{{myobject[0]?.qtext}}</p>
      </div>
   </div>
   <div class="row">
      <div class="col-md-12">
         <p>{{myobject[1]?.qtext}}</p>
         <div class="radio-buttons">
               <input type="radio" name="gender"  checked> {{myobject[1]?.rows[0]}}<br>
               <input type="radio" name="gender" > {{myobject[1]?.rows[1]}}<br>
         </div>
      </div>
   </div>
   <br>
   <div class="row">
         <div class="col-md-12">
            <p>{{myobject[2]?.qtext}}</p>
            <div class="radio-buttons">
                  <input type="radio" name="gender"  checked> {{myobject[2]?.rows[0]}}<br>
                  <input type="radio" name="gender"> {{myobject[2]?.rows[1]}}<br>
                  <input type="radio" name="gender" > {{myobject[2]?.rows[2]}}<br>
                  <input type="radio" name="gender"> {{myobject[2]?.rows[3]}}<br>
                  <input type="radio" name="gender"> {{myobject[2]?.rows[4]}}<br>
                  <input type="radio" name="gender"> {{myobject[2]?.rows[5]}}<br>

            </div>
         </div>
      </div>
      <br>
      <div class="row">
            <div class="col-md-12">
               <p>{{myobject[3]?.qtext}}</p>
               <div class="check-boxes">
                     <input type="checkbox" name="beverages"  checked> {{myobject[3]?.rows[0]}}<br>
                     <input type="checkbox" name="beverages"> {{myobject[3]?.rows[1]}}<br>
                     <input type="checkbox" name="beverages" > {{myobject[3]?.rows[2]}}<br>
                     <input type="checkbox" name="beverages"> {{myobject[3]?.rows[3]}}<br>
                     <input type="checkbox" name="beverages"> {{myobject[3]?.rows[4]}}<br>
                     <input type="checkbox" name="beverages" unchecked> {{myobject[3]?.rows[5]}}<br>
   
               </div>
            </div>
         </div>
         <br>
         <div class="row">
               <div class="col-md-12">
                  <p>{{myobject[4]?.qtext}}</p>
                  <table style="width: 80%">
                        <tr>
                          <th></th>
                          <th>Daily</th> 
                          <th>Weekly</th>
                          <th>Once in<br> 2weeks</th>
                          <th>Monthly</th> 
                          <th>Yearly</th>
                        </tr>
               <tbody>
                  <tr>
                 <td>{{myobject[4]?.rows[0]}}</td>
                     <td class="radio">
                        <input type="radio" name="optradio"  checked></td>
                     <td class="radio">
                        <input type="radio" name="optradio" ></td>
                     <td class="radio">
                        <input type="radio" name="optradio"></td>
                     <td class="radio">
                        <input type="radio" name="optradio"></td>
                     <td class="radio">
                        <input type="radio" name="optradio"></td>
                </tr>
                 <tr><td>{{myobject[4]?.rows[1]}}</td>
                  <td class="radio">
                        <input type="radio" name="optradio"checked></td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td></tr>
                 <tr><td>{{myobject[4]?.rows[2]}}</td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td>
                 <td class="radio">
                        <input type="radio" name="optradio"></td></tr>
                 <tr><td>{{myobject[4]?.rows[3]}}</td>
                  <td class="radio">
                  <input type="radio" name="optradio"></td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td>
                  <td class="radio">
                         <input type="radio" name="optradio"></td>
                  <td class="radio">
                         <input type="radio" name="optradio"></td></tr>
                 <tr><td>{{myobject[4]?.rows[4]}}</td>
                  <td class="radio">
                  <input type="radio" name="optradio"></td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td>
                  <td class="radio">
                         <input type="radio" name="optradio"></td>
                   <td class="radio">
                         <input type="radio" name="optradio"></td>
                   <td class="radio">
                        <input type="radio" name="optradio"></td></tr>
                 <tr><td>{{myobject[4]?.rows[5]}}</td>
                  <td class="radio">
                  <input type="radio" name="optradio"></td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td>
                  <td class="radio">
                        <input type="radio" name="optradio"></td>
                  <td class="radio">
                         <input type="radio" name="optradio"></td></tr>
                 </tbody>
               </table>
             </div>
            </div>
            <br>
            <div class="row">
                  <div class="col-md-12">
                     <p>{{myobject[5]?.qtext}}</p>
                  </div>
            </div>      
             
             
</div>